@import "tailwindcss";

:root {
  --background: #fefefe;
  --foreground: #171717;

  --header-foreground: #09090b;
  --body-foreground: #27272a;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    color: var(--color-zinc-900);
    background-color: var(--color-zinc-50);
    font-family: Arial, Helvetica, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--header-foreground);
    @apply font-semibold tracking-tight;
  }

  h1 {
    @apply text-3xl mb-4;
  }

  h2 {
    @apply text-2xl mb-3;
  }

  h3 {
    @apply text-xl mb-2;
  }

  h4 {
    @apply text-lg;
  }

}

@layer components {
  .link {
    @apply underline underline-offset-4 decoration-gray-300 transition-colors hover:decoration-current;
  }

  .link-primary {
    @apply bg-zinc-900 text-zinc-50 px-4 py-2 rounded-lg transition duration-100 text-center;
  }
  .link-primary:hover {
    @apply bg-zinc-50 text-zinc-900 ring ring-inset ring-zinc-900
  }
  .link-secondary {
    @apply ring ring-inset ring-zinc-900 px-4 py-2 rounded-lg
  }
  .link-secondary:hover {
    @apply ring-0 bg-zinc-900 text-zinc-50
  }
    .link-primary:active, .link-secondary:active {
    @apply scale-95
  }

  .feature-card {
    @apply bg-white shadow-xl p-4 transition-transform duration-100;
  }
  .feature-card:hover {
    @apply -translate-y-1;
  }
  .feature-card p {
    @apply text-sm;
  }

  .form-basic {
    @apply flex flex-col gap-y-4;
  }
  .form-basic div {
    @apply flex flex-col;
  }
  .form-basic div input {
    @apply border border-gray-300 p-2 bg-gray-50 rounded-lg;
  }
  .form-form div input:focus {
    @apply bg-white outline-green-500;
  }
  .form-basic button {
    @apply bg-zinc-900 text-zinc-50 px-4 py-2 rounded-lg mx-auto min-w-1/2;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fdfdfd;
  }
}