@import "tailwindcss";

:root {
  --background: #fefefe;
  --foreground: #171717;

  --header-foreground: #09090b;
  --body-foreground: #27272a;
}

@layer base {
  body {
    color: var(--color-zinc-900);
    background-color: var(--color-zinc-50);
    font-family: Arial, Helvetica, sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {
  .link-primary {
    @apply bg-zinc-900 text-zinc-50 px-4 py-2 rounded-lg
  }
  .link-secondary {
    @apply ring ring-inset ring-zinc-900 px-4 py-2 rounded-lg
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fdfdfd;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--header-foreground);
  @apply font-semibold tracking-tight;
}

h1 {
  @apply text-3xl mb-4;
}

h2 {
  @apply text-2xl mb-3;
}

h3 {
  @apply text-xl mb-2;
}

h4 {
  @apply text-lg;
}

a.link {
  @apply underline underline-offset-4 decoration-gray-300 transition-colors hover:decoration-current;
}

form {
  @apply flex flex-col gap-y-4;
}

form div {
  @apply flex flex-col;
}

form div input {
  @apply border border-gray-300 p-2 bg-gray-50 rounded-lg;
}

form div input:focus {
  @apply bg-white outline-green-500;
}